<div class="social-links">

  <a class="link" data-title="facebook.com/gideonspierings" href="https://www.facebook.com/gideonspierings" target="_blank">
    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
  </a>

  <a class="link" data-title="twitter.com/GideonSpierings" href="http://twitter.com/GideonSpierings" target="_blank">
    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
  </a>

  <a class="link" data-title="github.com/Gideonnn" href="https://github.com/Gideonnn" target="_blank">
    <fa-icon [icon]="['fab', 'github']"></fa-icon>
  </a>

  <a class="link" data-title="gideongideon@gmail.com" href="mailto:gideongideon@gmail.com">
    <fa-icon [icon]="['fa', 'envelope']"></fa-icon>
  </a>

</div>
