<div class="wrapper-normal">
  <div class="page home">
    <header class="header-home animated">
      <a class="link" href="https://koppl.in/indigo/about">
        <img class="selfie" alt="Gideon Spierings" src="assets/avatar.png">
      </a>
      <h1 class="title">Gideon Spierings</h1>
      <h2 class="description">Making something complex is easy. Making it simple is hard.</h2>
      <div class="social-links">
        <a class="link" data-title="facebook.com/myfacebook" href="http://facebook.com/myfacebook" target="_blank">
          <svg class="icon icon-facebook">
            <use xlink:href="#icon-facebook"></use>
          </svg>
        </a>
        <a class="link" data-title="twitter.com/mytwitter" href="http://twitter.com/mytwitter" target="_blank">
          <svg class="icon icon-twitter">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
        <a class="link" data-title="github.com/mygithub" href="https://github.com/mygithub" target="_blank">
          <svg class="icon icon-github">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
        <a class="link" data-title="medium.com/@medium" href="https://medium.com/@medium" target="_blank">
          <svg class="icon icon-medium">
            <use xlink:href="#icon-medium"></use>
          </svg>
        </a>
        <a class="link" data-title="myemail@gmail.com" href="mailto:myemail@gmail.com">
          <svg class="icon icon-mail">
            <use xlink:href="#icon-mail"></use>
          </svg>
        </a>
      </div>
    </header>
    <nav class="nav-home">
      <ul class="list">
        <li class="item">
          <a class="link" routerLink="about">About</a>
        </li>
        <li class="item">
          <a class="link" routerLink="blog">Blog</a>
        </li>
        <li class="item">
          <a class="link" routerLink="resume">Résumé</a>
        </li>
      </ul>
    </nav>
    <footer class="footer-main"> Gideon Spierings © 2018
      <a class="link" href="https://koppl.in/indigo/feed.xml" target="_blank">
        <svg class="icon icon-rss">
          <use xlink:href="#icon-rss"></use>
        </svg>
      </a>
    </footer>
  </div>
</div>
